@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body{
    font-family: "Pacifico", cursive;
    text-align: center;
    background-color: pink;
    color: ;
}

h1 span{
    color: pink ;
}

#dias_restantes{
    color: blueviolet;
    font-size: 50px;
}
.


